<div class="row justify-content-center mt-2">
    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardHome' %}" class="btn btn-primary" type="button">DashBoard</a>
        </div>
    </div>
    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardAddProfile' %}" class="btn btn-primary" type="button">Add Profile</a>
        </div>
    </div>
    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardMaleProfile' %}" class="btn btn-primary" type="button">Male Profile</a>
        </div>
    </div>
    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardFemaleProfile' %}" class="btn btn-primary" type="button">Female Profile</a>

        </div>
    </div>
</div>
<div class="row justify-content-center  mt-2">
    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardAddMailtemplate' %}" class="btn btn-primary" type="button">Add Mail Template</a>
        </div>
    </div>

    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardCreateInvite' %}" class="btn btn-primary" type="button">Create Invite</a>
        </div>
    </div>

    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardSendInvite' %}" class="btn btn-primary" type="button">Send Invites</a>
        </div>
    </div>

    <div class="col-3 align-self-center">
        <div class="d-grid gap-1">
            <a href="{% url 'dashboardResult' %}" class="btn btn-primary" type="button">Result</a>
        </div>
    </div>

</div>